vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Dec 2017 21:17:02 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Grp/courses.html Grp/index.html Grp/LifeLongLearner.html Grp/contact.html Grp/icons.html Grp/typography.html Grp/about.html
vti_author:SR|CONCEPTCAPITAL\\ufarooq
vti_modifiedby:SR|CONCEPTCAPITAL\\ufarooq
vti_timecreated:TR|09 Dec 2017 21:17:02 -0000
vti_cacheddtm:TX|09 Dec 2017 21:17:02 -0000
vti_filesize:IR|57484
vti_cachedlinkinfo:VX|S|../images/banner.jpg S|../images/about.jpg S|../images/stats.jpg S|../images/services1.jpg S|../images/services2.jpg S|../images/m1.jpg S|../images/m2.jpg S|../images/m3.jpg S|../images/arr.png
vti_cachedsvcrellinks:VX|FSUS|Grp/images/banner.jpg FSUS|Grp/images/about.jpg FSUS|Grp/images/stats.jpg FSUS|Grp/images/services1.jpg FSUS|Grp/images/services2.jpg FSUS|Grp/images/m1.jpg FSUS|Grp/images/m2.jpg FSUS|Grp/images/m3.jpg FSUS|Grp/images/arr.png
vti_syncwith_146.111.120.96\:443/sp18/et_710_m2/ufarooq61:TX|09 Dec 2017 21:17:02 -0000
vti_syncofs_146.111.120.96\:443/sp18/et_710_m2/ufarooq61:TW|22 May 2018 19:50:20 -0000
